In [14]:
import pandas as pd
import requests
import numpy as np
from bs4 import BeautifulSoup

In [15]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'} 
webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=headers).text

In [16]:
soup=BeautifulSoup(webpage)

In [40]:
for i in soup.find_all('h2', class_="companyCardWrapper__companyName"):
    print(i.text.strip())

TCS
Accenture
Cognizant
Wipro
Capgemini
HDFC Bank
ICICI Bank
Infosys
HCLTech
Tech Mahindra
Genpact
Axis Bank
Teleperformance
Concentrix Corporation
Jio
Amazon
IBM
Reliance Retail
HDB Financial Services
Larsen & Toubro Limited

In [40]:
for i in soup.find_all('h2', class_="companyCardWrapper__companyName"):
    print(i.text.strip())

TCS
Accenture
Cognizant
Wipro
Capgemini
HDFC Bank
ICICI Bank
Infosys
HCLTech
Tech Mahindra
Genpact
Axis Bank
Teleperformance
Concentrix Corporation
Jio
Amazon
IBM
Reliance Retail
HDB Financial Services
Larsen & Toubro Limited

In [40]:
for i in soup.find_all('h2', class_="companyCardWrapper__companyName"):
    print(i.text.strip())

TCS
Accenture
Cognizant
Wipro
Capgemini
HDFC Bank
ICICI Bank
Infosys
HCLTech
Tech Mahindra
Genpact
Axis Bank
Teleperformance
Concentrix Corporation
Jio
Amazon
IBM
Reliance Retail
HDB Financial Services
Larsen & Toubro Limited

In [40]:
for i in soup.find_all('h2', class_="companyCardWrapper__companyName"):
    print(i.text.strip())

TCS
Accenture
Cognizant
Wipro
Capgemini
HDFC Bank
ICICI Bank
Infosys
HCLTech
Tech Mahindra
Genpact
Axis Bank
Teleperformance
Concentrix Corporation
Jio
Amazon
IBM
Reliance Retail
HDB Financial Services
Larsen & Toubro Limited

In [34]:
for i in soup.find_all('span', class_="companyCardWrapper__companyRatingValue"):
    print(i.text)

3.8
4.0
3.9
3.8
3.9
4.0
4.0
3.8
3.7
3.7
3.9
3.9
3.6
3.9
4.0
4.1
4.1
4.0
4.0
4.1

In [41]:
len(soup.find_all('span', class_="companyCardWrapper__companyRatingValue"))

20

In [43]:
company=soup.find_all('div',class_="companyCardWrapper")

In [68]:
name = []
knownfor = []
rating = []
reviews = []
jobs = []
benefits = []

for i in company:
    name.append(i.find('h2').text.strip())
    knownfor.append(i.find('span', class_="companyCardWrapper__ratingValues").text.strip())
    rating.append(i.find('span', class_="companyCardWrapper__companyRatingValue").text.strip())
    reviews.append(i.find_all('span', class_="companyCardWrapper__ActionCount")[0].text.strip())
    jobs.append(i.find_all('span', class_="companyCardWrapper__ActionCount")[3].text.strip())
    benefits.append(i.find_all('span', class_="companyCardWrapper__ActionCount")[4].text.strip())

d={'name': name, 'Known_for': knownfor, 'rating':rating, 'reviews': reviews, 'jobs': jobs, 'benefits':benefits}
df = pd.DataFrame(d)

In [57]:
company[0].find_all('span', class_="companyCardWrapper__ActionCount")[0].text.strip()

'73.3k'

In [67]:
knownfor

['Job Security, Work Life Balance',
 'Company Culture, Skill Development / Learning, Job Security',
 'Skill Development / Learning',
 'Job Security',
 'Job Security, Work Life Balance, Skill Development / Learning',
 'Job Security, Skill Development / Learning',
 'Job Security, Skill Development / Learning, Company Culture',
 'Job Security, Company Culture, Skill Development / Learning',
 'Job Security',
 'Promotions / Appraisal, Salary & Benefits',
 'Job Security, Skill Development / Learning, Work Life Balance',
 'Job Security',
 'Promotions / Appraisal, Salary & Benefits, Work Satisfaction',
 'Job Security, Company Culture',
 'Job Security, Skill Development / Learning',
 'Company Culture, Salary & Benefits, Work Life Balance',
 'Work Life Balance, Job Security, Skill Development / Learning',
 'Skill Development / Learning, Job Security',
 'Skill Development / Learning, Job Security, Company Culture',
 'Job Security, Skill Development / Learning']

In [69]:
df

,name,Known_for,rating,reviews,jobs,benefits
0,TCS,"Job Security, Work Life Balance",3.8,73.3k,924,11.5k
1,Accenture,"Company Culture, Skill Development / Learning,...",4.0,46.5k,13.1k,7.1k
2,Cognizant,Skill Development / Learning,3.9,41.8k,454,5.8k
3,Wipro,Job Security,3.8,39.3k,394,5k
4,Capgemini,"Job Security, Work Life Balance, Skill Develop...",3.9,34.1k,721,4k
5,HDFC Bank,"Job Security, Skill Development / Learning",4.0,34k,336,3.2k
6,ICICI Bank,"Job Security, Skill Development / Learning, Co...",4.0,33.6k,212,3.7k
7,Infosys,"Job Security, Company Culture, Skill Developme...",3.8,31.9k,1k,5.1k
8,HCLTech,Job Security,3.7,28.6k,364,4.1k
9,Tech Mahindra,"Promotions / Appraisal, Salary & Benefits",3.7,27.7k,1.1k,3.6k
10,Genpact,"Job Security, Skill Development / Learning, Wo...",3.9,26.3k,859,3.7k
11,Axis Bank,Job Security,3.9,22.1k,307,2.2k
12,Teleperformance,"Promotions / Appraisal, Salary & Benefits, Wor...",3.6,22k,386,2k
13,Concentrix Corporation,"Job Security, Company Culture",3.9,21.8k,123,3.3k
14,Jio,"Job Security, Skill Development / Learning",4.0,20.6k,189,2.6k
15,Amazon,"Company Culture, Salary & Benefits, Work Life ...",4.1,20.5k,713,4.2k
16,IBM,"Work Life Balance, Job Security, Skill Develop...",4.1,19.7k,3.3k,2.7k
17,Reliance Retail,"Skill Development / Learning, Job Security",4.0,18.8k,290,2k
18,HDB Financial Services,"Skill Development / Learning, Job Security, Co...",4.0,18.2k,102,1.5k
19,Larsen & Toubro Limited,"Job Security, Skill Development / Learning",4.1,16.7k,158,2.9k

Empty DataFrame
Columns: []
Index: []

In [91]:
final=pd.DataFrame()
for j in range(1,350):

    url = 'https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'} 
    webpage=requests.get(url,headers=headers).text
    soup=BeautifulSoup(webpage)
    company=soup.find_all('div',class_="companyCardWrapper")
    name = []
    knownfor = []
    rating = []
    reviews = []
    jobs = []
    benefits = []
    
    for i in company:
        name.append(i.find('h2').text.strip())
        try:
            knownfor.append(i.find('span', class_="companyCardWrapper__ratingValues").text.strip())
        except:
            knownfor.append(np.nan)
        rating.append(i.find('span', class_="companyCardWrapper__companyRatingValue").text.strip())
        reviews.append(i.find_all('span', class_="companyCardWrapper__ActionCount")[0].text.strip())
        jobs.append(i.find_all('span', class_="companyCardWrapper__ActionCount")[3].text.strip())
        benefits.append(i.find_all('span', class_="companyCardWrapper__ActionCount")[4].text.strip())
        d={'name': name, 'Known_for': knownfor, 'rating':rating, 'reviews': reviews, 'jobs': jobs, 'benefits':benefits}
        df = pd.DataFrame(d)
        final =  pd.concat([final,df],ignore_index=True)

In [92]:
final

,name,Known_for,rating,reviews,jobs,benefits
0,TCS,"Job Security, Work Life Balance",3.8,73.3k,924,11.5k
1,TCS,"Job Security, Work Life Balance",3.8,73.3k,924,11.5k
2,Accenture,"Company Culture, Skill Development / Learning,...",4.0,46.5k,13.1k,7.1k
3,TCS,"Job Security, Work Life Balance",3.8,73.3k,924,11.5k
4,Accenture,"Company Culture, Skill Development / Learning,...",4.0,46.5k,13.1k,7.1k
...,...,...,...,...,...,...
73285,Thoughtsol Infotech,"Company Culture, Skill Development / Learning,...",4.5,106,2,4
73286,D A V School,"Work Satisfaction, Skill Development / Learnin...",3.8,106,--,13
73287,Maheshwari Mining,"Promotions / Appraisal, Salary & Benefits, Com...",3.7,106,--,11
73288,Mantra Softech,"Company Culture, Work Life Balance",4.0,106,10,10
73289,Zeon Lifesciences,"Promotions / Appraisal, Salary & Benefits, Ski...",3.5,106,2,14

In [95]:
final.drop_duplicates(inplace=True)

In [97]:
final.to_csv('company_data_final.csv')

In [98]:
final.reset_index(inplace = True, drop = True)

In [100]:
final.to_csv('company_data_final.csv')